body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
}

main {
    padding: 5%;
}

#notificacao {
    position: absolute !important;
    top: 10px;
    left: 5%;
    right: 5%;
}

input::placeholder {
    color: #333 !important;
}

.box-main-geral {
    padding: 50px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
}

.box-main-home {
    border-radius: 20px;
    height: 80vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
    overflow: hidden;
}

.box-login {
    height: 100%;
    padding: 20px;
    float: left;
    min-width: 20%;
    background-color: #263238;
    position: relative;
}

#logo-cosanpa {
    border: 2px solid white;
}

.logos {
    display: flex;
    justify-content: space-around;
}

#btn-chamados {
    position: absolute;
    right: 20px;
    left: 20px;
    bottom: 20px;
}

.box-dashboard {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

p {
    font-size: 1.1rem
}

.card {
    min-height: 80px !important;
}

.card .content {
    z-index: 999;
}

.card h3.header {
    width: 90%;
}

#modal-b1,
#modal-a1 {
    border-radius: 0 !important;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .box-login {
        height: 350px;
        float: none;
        border-radius: 10px 10px 0 0;
    }
}