body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    height: 100vh;
    padding: 5%;
}

main {
    height: 100%;
}

#notificacao {
    position: absolute !important;
    top: 10px;
    left: 5%;
    right: 5%;
}

input::placeholder {
    color: #333 !important;
}

.box-main-home {
    height: 100%;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    overflow-y: auto!important;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
}

.box-login {
    background-color: #263238;
}

.box-login .ui.one.column.grid {
    height: 100%;
    padding-bottom: 20px;
}

.box-head *{
    margin-top: 10px;
    color: white!important;
}

.logos {
    display: flex;
    justify-content: space-around!important;
}

.buttons-login{
    margin: 1rem;
}

.box-dashboard {
    padding: 20px!important;
}

.box-dashboard h1 {
    margin: 10px 0 30px !important;
}

p {
    font-size: 1.1rem
}

.card {
    min-height: 80px !important;
}

.card .content {
    z-index: 999;
}

.card h3.header {
    width: 90%;
}

#modal-b1,
#modal-a1 {
    border-radius: 0 !important;
    padding: 20px;
}

@media (min-width: 768px) {
    .box-login {
        height: 100%;
        border-radius: 20px 0 0 20px;
    }
    .box-login .ui.one.column.grid {
        padding-bottom: 0;
    }
}