
body {
    background-image: url('/img/background.jpg');
    background-size: cover;
}

main {
    padding: 5%;
}

.box-main-home{
    border-radius: 20px;
    height: 80vh;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    opacity: 1;
    overflow: hidden;
}

.box-login{
    height: 100%;
    padding: 20px;
    float: left;
    min-width: 20%;
    background-color: #263238;
    position: relative;
}

.box-login img {
    border: 2px solid white;
}

.box-dashboard {
    height: 100%;
    padding: 20px;
    overflow: auto;
}

@media screen and (max-width: 768px)
{
    .box-login {
        height: 350px;
        float: none;
        border-radius: 10px 10px 0 0;
    }
}