{% extends 'base.twig' %}

{% block title %}Página não encontrada - Cosanpa - UEST{% endblock %}

{% block main %}
	<div class="box-main-geral">
		<h1>Página não encontrada</h1>
		<h3>A página que você está tentando acessar não existe. Verifique o endereço digitado.</h3>
		<a href="/" class="ui green button">Voltar para a página inicial</a>
	</div>
{% endblock %}
