<!DOCTYPE html>
<html lang="pt-br">
	<head>
		{% block head %}
			<meta charset="UTF-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
			<link rel="icon" href="/img/favicon.ico">
			<link rel="stylesheet" type="text/css" href="/css/reset.css">
			<link rel="stylesheet" type="text/css" href="/css/semantic.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="css/style.css">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="/js/semantic.min.js"></script>
			<title>
				{% block title %}{% endblock %}
			</title>
		{% endblock head %}
	</head>
	<body>
		{% if session.notificacao %}
			{% set notificacao = session.notificacao %}
			<div id="notificacao" class="ui {{ notificacao.status }} floating message">
				<i class="large exclamation circle icon"></i>
				<i class="close icon"></i>
				{{ notificacao.msg }}
			</div>
		{% endif %}

		<main class="container">
			{% block main %}{% endblock main %}
		</main>

		{% block scritps_js %}{% endblock %}
		
		<script>
			$(document).ready(function () {
				$('.message').transition('fade down in');
				$('.message .close').on('click', function () {
					$(this).closest('.message').transition('fade');
				});
			});
		</script>
	</body>
</html>
<!-- Desenvolvido por Carlos Gabriel S. Pereira - UEST/USTI -->
